
/*geranal*/
body{background-color: #fdfdfd;}

h1 { 
    color: #c26060; 
    font-size: 2em; 
    font-weight: bold; 
    text-align: center;}
h2{
    font-family:"times new romans";
    color:cornflowerblue}
p{
    font-family: 'Times New Roman', Times, serif;
    color:black;}

header {background-color:#f8f8f8;
    
        height:80px;
        position:relative;}

header h1 
{   color:#589263;
    text-shadow: -1px 0px black, 0 1px black ,0 -1px black;
    letter-spacing: 0.05em;
    float:left; 
    text-align:right;
    margin:bottom;}

header h1:hover{
    color: #0d3f24;
    text-shadow:
    5px 0px 0px #8bdf99,
    6px 6px 0px black}

header img {float:left}

header search {
    position: absolute;
    left:50%;
    top:-10px;
    transform:translate(-50%);}

nav {float:right; margin: bottom;padding-top: 2em;}

nav a {
        text-decoration: none;
        padding:0.2em 0.6em;
        border: 4px solid #be2b2b;
        color: #075512;
        transition: 2s;}

nav a:hover {font-family: cursive;
            background-color: rgb(187, 246, 92);
            border-color: darkblue;}

ol,ul {list-style-type: square;}

/*index*/

main table tr:hover {
        background-color: rgb(21, 147, 220);
        border: 3px solid rgb(187, 210, 92);
        color: white;}

   .description {
    background-color: #bcdddc;
    position: relative;
    max-width: 90%;
    margin: 20px auto;
    padding: 100px;
    border: 5px solid #115380;}


.description h1 {text-align: left;font-size: 3em;color:#053229;}
.description h2 {text-align: left;font-size:1.5em;color: #230a61;}
.description p {text-align: left;font: size 1.5em;}
caption {font-size: 2em;}
.picture {float: right;}

main table {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;}

main p {font-size:x-large;}
tfoot{font-weight: bold;}

thead {background-color: #d2dce4;}
    

footer p {background-color: white;
        font-size:medium;
        display: inline-block; width:30%;}
        footer p:first-child {float: left;margin-left: 10px;}
        footer p:nth-child(2) {text-align: center;}
        footer p:last-child {float: right; text-align: right;}

/*jobs*/

aside {border: 4px inset rgba(12, 44, 46, 0.24);
border-radius: 14px;
margin: 1em;
padding: 1em;
width: 25%;
float:right;
background-color:#d9f0b0;
box-shadow: 10px 20px#577e89;
}

#jobs h2,h3,p,ol,ul {margin-left: 20px;}
.designer {background-color: #d2dce4; width:80%; color: #577e89;}
.designer p {color: #051f10;}


.web{background-color: #DEC3B3; color:#42180e;}

.manager{background-color: #d2dce4;}


/*apply*/

#signup {background-color: rgb(43, 42, 42);}
form {
    background-color: #faf8f8;
    max-width: 70%;
    margin: 10px auto;
    padding: 10px;
}

form p {color: #254b5a;}
caption {font-weight: bold;}

legend {
    font-size: 19px;
    font-weight: bold;
    color: #1d4ed8;
    padding: 0 10px;}
    
table {
        background-color: #f8f2ef;
            border: 3px solid #dec3b3; }

dt {font-weight: bold;}

th{font-weight: bold;}


/*About*/

#About{
    background-color: #bcdddc;
    border: 5px solid #115380;}
    
#About h2{
        color:#062336;
        margin-left: 1em;}

ol,ul{text-align:left;}




#About th ,td{padding:10px;
            text-align:center}


#About table {float: right;
            margin-top: 50px;
            margin-right: 40px;
            color: #42180e;
            width: 60%;}

#About td,th {text-align: center;}
#About td {font-size: larger;}
#About th {font-size:x-large; color:cornflowerblue;}

#About table :hover {background-color:  rgb(5, 32, 9);
            border: 3px solid  rgb(35, 59, 165);
            color:#81d1a5}

#About img {border: 5px solid;}


dl{font-size: large;}
figure {
    border:2px dashed #080101;
    float: right;
    width: 70%;
    text-align: center;
    font-size: x-large;}
    
#group h2{margin-right: 250px;
text-align:right;}

 